* {
  font-family: sans-serif;
  color: white;
}

body {
  background-color: rgb(30, 30, 30);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Header */

header {
  margin-left: 4%;
}

.navbar {
  margin-top: 2rem;
  display: flex;
  font-size: 2rem;
  display: flex;
  gap: 1.2rem;
}

h1 {
  color: rgb(145, 161, 197);
  font-size: 10vw;
  margin: 0;
  margin-top: 5rem;
}

/* Main */

main {
  margin-left: 4%;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 1.5rem;
}

p {
  width: 50rem;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

/* Footer */

hr {
  border: none;
  height: 0.5rem;
  color: #333;
  background-color: #333;
  margin-top: 10rem;
  margin-bottom: 4%;
  margin-left: 14%;
  margin-right: 14%;
}

#footer {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

#index-footer {
  margin-top: 40rem;
}

#overview-footer {
  margin-top: 25rem;
}

#detail-footer {
  margin-top: 27rem;
}

/* Contact */

#message-box {
  height: 14rem;
  width: 40rem;
}

form {
  margin-top: 7rem;
}

input {
  color: black;
}

/* Images */

section {
  margin-top: 5rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

figure {
  margin-left: 0;
}

figcaption {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.invisible-caption {
  visibility: hidden;
}

.project-images {
  width: 100%;
}

#tall-image {
  width: 36%;
}

#asian-burger-description {
  margin-top: 6.6rem;
  width: 34rem;
}

/* Responsive Layout */

@media screen and (max-width: 1600px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 880px) {
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.1rem;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
}

@media screen and (max-width: 730px) {
  #message-box {
    width: calc(93%);
  }
}

@media screen and (max-width: 194px) {
  #email-box {
    width: calc(93%);
  }
}

@media screen and (max-width: 850px) {
  #portfolio-description {
    width: 25rem;
  }
}
@media screen and (max-width: 430px) {
  #portfolio-description {
    width: auto;
  }
}

@media screen and (max-width: 584px) {
  h1 {
    font-size: 3.65rem;
  }
  h2 {
    font-size: 1.1rem;
  }
}
